@import "tailwindcss";

@theme {
  --color-primary:#0576B3;
  --color-primary-light: #B5F8FE;
  --color-secondary: #FFC247;
  --color-secondary-light: #FED65D;
  --color-shadowColor: #94a3b8;
  --color-hoverColor: #f3f4f4;  
  --color-neutral-100: #F5F7FA;
  --color-neutral-300: #D9E1E8;
  --color-neutral-600: #5B6B79;
  
  --breakpoint-mobile: 460px; /* create a new screen breakpoint called mobile  */
  --breakpoint-tiny: 260px;
  --breakpoint-yana: 230px;
  /* Adding a ultra-wide desktop breakpoint (e.g., 1920px) */
  --breakpoint-3xl: 120rem;  
}

:root{
  font-family: "DM Sans", sans-serif;
}